{% extends 'pharmacy/main.html' %}

{% block content %}
<br>
<div class="row">
    <div class = "col-md">
        <div class="card card-body">
            <h5>Medicines</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Medicine</th>
                    <th>Group</th>
                    <th>Company</th>
                    <th>Expire Date</th>
                    <th>Price</th>
                </tr>
                {% for medicine in medicines %}
                <tr>
                    <td>{{medicine.medicine_name}}</td>
                    <td>{{medicine.group_name}}</td>
                    <td>{{medicine.company_name}}</td>
                    <td>{{medicine.expire_date}}</td>
                    <td>{{medicine.price}}</td>
                </tr>
                
                {% endfor %}
                <tr>
                    <td><a class="btn btn-sm btn-info" href="{% url 'create_medicine' %}">Add Medicine</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock content %}